.list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
  display: inline-block;
}
.address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --card-back: rgba(33, 150, 243, 0.9);
  --hero-background-color: #2f303a;
  --btn-text-color: #ffffff;
  --border-color: #afb1b8;
  --social-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --portfolio-btn-back-color: #f5f4fa;
  --border-color: #ececec;
  --footer-social: #44454e;
  --portfolio-border-color: #eeeeee;
  --contacts-link-color: rgba(255, 255, 255, 0.6);
  --color-social-footer: rgba(255, 255, 255, 0.1);
  --img-background: rgba(47, 48, 58, 0.8);
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --send-button-back: #188CE8;

/*########## ICONS COLOR ############*/
  --color-back: transparent;
  --color-social: currentColor;
  --color-clients: currentColor;
  --color-social-footer: currentColor;
  --color-mail: currentColor;
  --color-close: #eaeaea;
  --color-plus: currentColor;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
/*########## HEADER ############*/
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-color);
}
.head {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
}
.header-list .item + .item {
  margin-left: 50px;
}
.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-info {
  margin-left: auto;
}
.header-line {
  display: flex;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);

  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.menu-link {
  color: var(--main-color);
  transition: color 250ms var(--timing);
}
.item {
  position: relative;
}
.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.icon-address > .contact-link {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.header-list .item {
  display: flex;
  justify-content: center;
}
.icon-address {
  display: flex;
  align-items: center;
}
.icon-address .icon {
  margin-right: 10px;
  fill: var(--secondary-color);
}
.contact-link:hover > .icon,
.contact-link:focus > .icon {
  fill: var(--accent-color);
}
/*########## MAIN ############*/
/*########## HERO ############*/
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/overlay/overlay.jpg');
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-text-color);

  margin-top: 0;
  margin-bottom: 30px;
}
.modal-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);

  display: inline-block;
  padding: 10px 32px;
}
/*########## ABOUT US ############*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-us {
  display: flex;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
}
.about-us .item {
  width: 270px;
}
.about-us .item + .item {
  margin-left: 30px;
}
.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 10px;
}
.about-us-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}
.back-icon-about {
  width: 270px;
  height: 120px;
  background: var(--portfolio-btn-back-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*########## OUR WORK ############*/
.section-work {
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.title-work {
  margin-bottom: 50px;
}
.list-work {
  display: flex;
}
.list-work .item + .item {
  margin-left: 30px;
}
.list-work .item {
  position: relative;
}
.img-overlay {
  position: absolute;
  left: 0;
  bottom: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);

  width: 370px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--img-background);
}
/*########## OUR TEAM ############*/
.team-list {
  display: flex;
}
.team-list .card + .card {
  margin-left: 30px;
}
.card {
  width: 270px;

  background: var(--btn-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  background-color: var(--team-background-color);
}
.title-team {
  margin-bottom: 50px;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 10px;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}
.card-social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
.card-icon {
  color: var(--social-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--btn-text-color);

  transition: color 250ms var(--timing),background-color 250ms var(--timing);
}
.social-link:hover > .card-icon,
.social-link:focus > .card-icon {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
}

.list .icon-back + .icon-back {
  margin-left: 10px;
}
/*########## OUR CLIENTS ############*/
.title-clients {
  margin-bottom: 50px;
}
.list-clients {
  display: flex;
  justify-content: space-between;
}
.back-icon-clients {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-color);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms var(--timing);
}
.back-icon-clients .icon-clients {
  box-sizing: content-box;
  padding: 18px 34px;
  color: var(--social-color);
  transition: color 250ms var(--timing);
  
}
.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  color: var(--accent-color);
}
.back-icon-clients:hover,
.back-icon-clients:focus {
  border-color: var(--accent-color);
}
/*########## FOOTER ############*/

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);

  margin-bottom: 20px;
}
.list-address .item + .item {
  margin-top: 9px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  transition: color 250ms var(--timing);
}
.address .list {
  padding-left: 0;
}
.contacts-link {
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--contacts-link-color);
  transition: color 250ms var(--timing);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-flex {
  display: flex;
}
.social {
  margin-left: 70px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.footer-icon {
  display: flex;
}
.footer-icon .item + .item {
  margin-left: 10px;
}
.social-link-footer>.icon {
  color: var(--footer-social);
  transition: color 250ms var(--timing);
}
.social-link-footer:hover > .icon,
.social-link-footer:focus > .icon {
  color: var(--accent-color);
}
/*########## FOOTER FORM ############*/
.subscribe {
  display: block;
}
.footer-form {
  position: relative;
 }
.footer-form .form-label {
display: flex;
flex-direction: column;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--btn-text-color);
margin-top: 12px;
margin-left: 93px;
}
.footer-form .form-input {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-top: 20px;
  
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
background-color: transparent;
}
.footer-form .form-input::placeholder {
  font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: var(--contacts-link-color);
}
.footer-form .sub-btn {
  position: absolute;
  bottom: 0;
  right: -212px;

font-weight: 700;
font-size: 16px;
line-height: 1.88;
width: 200px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--btn-text-color);
background-color: var(--accent-color);
border-color: var(--accent-color);
padding-top: 10px;
padding-bottom: 10px;
padding-left: 29px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-top: 48px;
margin-left: 12px;
cursor: pointer;
}
.sub-btn>.icon {
  margin-left: 10px;
}
/*########## BACKDROP ############*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transform: scale(1,1);
  transition: transform 250ms var(--timing),opacity 250ms var(--timing);
}
.is-hidden {
  opacity: 0;
  /* visibility: hidden; */
  pointer-events: none;

  transform: scale(0,0);
  transition: transform 250ms var(--timing),opacity 250ms var(--timing);
}
.close-button{
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms var(--timing);
}
.close-button:hover,
.close-button:focus {
  color: var(--accent-color);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  min-width: 528px;
  min-height: 581px;
  background: var(--btn-text-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
/*########## MODAL FORM ############*/
.leave-contacts {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-title{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 12px;
margin-top: 0;
}
.modal-form .label {
  position: relative;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--secondary-color);
cursor: pointer;
}
.modal-form .input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
letter-spacing: inherit;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  transition: border 250ms var(--timing);
  outline: none;
}
.modal-form .input:hover,
.modal-form .input:focus {
border: 1px solid var(--accent-color);
}
.area {
  border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
width: 100%;
height: 120px;
resize: none;
font-size: inherit;
  line-height: inherit;
letter-spacing: inherit;
margin-top: 4px;
padding: 12px 16px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border 250ms var(--timing);
  outline: none;
}
.area:hover,
.area:focus {
border: 1px solid var(--accent-color);
}
.area::placeholder {
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.input-check{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
margin-left: 36px;
}
.label-check {
  position: relative;
  }
.checkbox-svg {
  position: absolute;
  top: 3px;
  left: 12px;
  transform: scale(0);
  transition: transform 250ms var(--timing);
}
.checkbox-svg-full {
  position: absolute;
  top: 3px;
  left: 12px;
  transform: scale(1);
  transition: transform 250ms var(--timing);
}
.input-check:not(:checked)~.checkbox-svg-full {
  transform: scale(0);
}
.input-check:not(:checked)~.checkbox-svg {
  transform: scale(1);
}
.license-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: var(--accent-color);
}
.send-button {
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--btn-text-color);
padding: 10px 56px;
  margin-top: 30px;
  margin-left: 124px;
  width: 200px;
  background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border-color: transparent;
cursor: pointer;
}
.send-button:hover,
.send-button:focus {
background: var(--send-button-back);
}
.icon-form {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms var(--timing);
}
.modal-form .input:hover~.icon-form,
.modal-form .input:focus~.icon-form {
  fill: var(--accent-color);
}

/*########## PORTFOLIO (PAGE) ############*/
.hidden {
  display: none;
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.list-btn .item + .item {
  margin-left: 8px;
}
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--portfolio-btn-back-color);
  cursor: pointer;

  transition: color 250ms var(--timing), background-color 250ms var(--timing); 
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.card-list {

  display: flex;
  flex-wrap: wrap;
}
.portfolio-card-info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-card {
  background-color: var(--btn-text-color);
  border: 1px solid var(--portfolio-border-color);
  box-sizing: border-box;
  cursor: pointer;

  transition: box-shadow 250ms var(--timing);
  width: 370px;
  overflow: hidden;
}
.card-overlay {
  position: relative;
  overflow: hidden;
}
.card-text {
position: absolute;
left: 0;
top: 0;

font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: var(--btn-text-color);
background: var(--card-back);
margin: 0;
width: 100%;
height: 100%;
padding: 63px 24px;

transform: translateY(101%);
transition: transform 250ms var(--timing);
}
.portfolio-card:hover .card-text {
transform: translateY(0%);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-card:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.portfolio-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
